<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
</head>
<body background="img/fondo.jpg" fgcolor="#00FF00" text="black" link="#FFFF00" vlink="22AA22" alink="#0077FF">
    <center>
       <h1>Babbage</h1>
       <img src="img/babbage.jpg" alt="Babbage" width="400px"> 
       <font size="5">
       <p>Un sabio que construyo su propio santuario,
        <br>
        el cual sigue siendo usado por personas curiosisas y que buscan conocimiento.
       </p>
        </font>
    </center>
    
</body>
</html>