<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body background="img/fondo.jpg" fgcolor="#00FF00" text="black" link="#FFFF00" vlink="22AA22" alink="#0077FF">
    <center>
    <h1>Hamilton</h1>
    <img src="img/hamilton.jpg" alt="Hamilton" width="400px">
    <font size="5">
        <p>
            Cientifica especializada en plantas
            <br>
            logro crear un arma biologica por accidente.
        </p>
    </font>
    </center>
</body>
</html>