<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
</head>
<body background="img/fondo.jpg" fgcolor="#00FF00" text="black" link="#FFFF00" vlink="22AA22" alink="#0077FF">
    <center>
       <h1>Lovelace</h1>
       <img src="img/lovelace.jpg" alt="Lovelace" width="400px">
       <font size="5">
        <p> Una maestra en su oficio 
            <br> 
            justa y sabia 
            <br>
            pero si se le provocaba, era dificil frenar su ira.
        </p>
         </font>
    </center>
</body>
</html>